{% extends 'base.html' %}
{% load static %}

{% block title %} REST API {% endblock %}

{% block styl %}
    <link rel="stylesheet" href="{% static 'css/main_site.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div id="day">
            {{ day }}<br>
        </div>
        <table id="table_raports">
            <tr>
                <th>Typ</th>
                <th>Nr</th>
                <th>Nazwa</th>
                <th>Tytuł</th>
                <th>Czas</th>
                <th>kliknij</th>
            </tr>
                {% for raport in raports %}
                 <tr>
                    <td>{{ raport.1 }}</td>
                    <td>{{ raport.2 }}</td>
                    <td id="r_name">{{ raport.3 }}</td>
                    <td>{{ raport.4 }}</td>
                    <td>{{ raport.0 }}</td>
                    <td id="read">{{ raport.5 }}</td>
                 </tr>
                {% endfor %}
        </table>
    </div>
    <div class="container">

    </div>

{% endblock %}